{% extends "authenticate/base.html" %}

{% block body_content %}
    <!-- Community Details -->
    <div class="container">
        <div class="community-details">
            <h1>{{ community.name }}</h1>
            <!-- Display image -->
            <img src="{{ community.picture.url }}" alt="{{ community.name }}" style="max-width: 100%; height: auto;">
            <p>Description: {{ community.description }}</p>
            <!-- Display location -->
            <p>Location: {{ community.location }}</p>

            <!-- Button to create a new post -->
            <a href="{% url 'create_post' community_id=community.id %}" class="btn btn-primary">Create New Post</a>
        </div>
    </div>
    <!-- Display posts -->
    <div class="container">
        <h2>Posts</h2>
        {% if community.posts.all %}
            {% for post in community.posts.all %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <!-- Add more details about the post as needed -->
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts available</p>
        {% endif %}
    </div>
{% endblock %}
