{% extends "authenticate/base.html" %}
{% load static %}

{% block body_content %}
    <!-- Community Details -->
    <div class="container">
        <div class="community-details">
            <h1>{{ community.name }}</h1>
            <!-- Display image -->
            <img src="{{ community.picture.url }}" alt="{{ community.name }}" style="max-width: 100%; height: auto;">
            <p>Description: {{ community.description }}</p>
            <!-- Display location -->
            <p>Location: {{ community.location }}</p>

            {% if is_member %}
                <!-- Button to create a new post -->
                <a href="{% url 'create_post' community_id=community.id %}" class="btn btn-primary">Create New Post</a>
            {% endif %}
            
            {% if is_admin %}
                <!-- Button to create a new template -->
                <a href="{% url 'create_template' community_id=community.id %}" class="btn btn-primary">Create New Post Template</a>
            {% endif %}

            {% if user != community.owner %}
                
                {% if is_member %}
                    <!-- Button to quit -->
                    <button class="btn btn-primary quit-btn" data-community-id="{{ community.id }}">Quit Community</button>
                {% elif community.is_private %}
                    {% if is_pending %}
                        <p>Pending Approval to Join ⏳</p>
                    {% else %}
                        <!-- Button to send request -->
                        <button class="btn btn-primary send-request-btn" data-community-id="{{ community.id }}">Send Request to Join Community</button>
                    {% endif %}
                {% else %}
                    <!-- Button to join -->
                    <button class="btn btn-primary join-btn" data-community-id="{{ community.id }}">👉 Join Community</button>
                {% endif %}
            {% endif %}

            <a href="{% url 'display_followers' community_id=community.id %}" data-community-id="{{ community.id }}" style="color: rgb(4, 185, 194); font-weight: bold; margin-right: 10px; margin-left: 10px;">Followers</a>

            {% if is_admin and community.is_private %}
                <!-- Button to see requests -->
                <a href="{% url 'display_requests' community_id=community.id %}" style="color: rgb(202, 118, 16); font-weight: bold; margin-right: 10px;">Go to Join Requests -></a>
            {% endif %}
        </div>
    </div>

    <div class="container" style="margin-top: 15px; border: 1px solid black; border-radius: 12px;">
        <p style="margin-top: 10px;">Community Rules</p>
        <p>{{ community.rules }}</p>
    </div>
    {% if is_member or not community.is_private %}

    <div class="container" style="margin-top: 10px;">
        {% if posts %}
            <form id="post-search-form" class="d-flex" role="search" method="post" action="{% url 'community_detail' community_id=community.id %}">
                {% csrf_token %}
                <input id="post-search-input" class="form-control me-2" type="search" name="search" placeholder="Search in Posts" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% endif %}
    </div>

    <!-- Display posts -->
    <div class="container">
        {% if search_term %}
        <div class="container d-flex align-items-center">
            <a href="{% url 'community_detail' community_id=community.id %}" class="btn btn-primary">&lt;- Back to All Posts</a>
            <h2 class="ml-3" style="margin-left: 10px;">Search Results for "{{ search_term }} ..."</h2>
        </div>
        
        {% else %}
            <h2 style="margin-top: 15px;">Posts</h2>
        {% endif %}
        {% if posts %}
            {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ post.author.username }}👤 </p>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>

                        <!-- Content based on post fields -->
                        {% for field in post.fields.all %}
                            {% if field.name %}
                                <label>{{ field.name }}</label><br>
                            {% endif %}
                            <div> <!-- Wrap content in a div -->
                                {% if field.post_type == 'text' %}
                                    <p>{{ field.text }}</p>
                                {% elif field.post_type == 'image' %}
                                    <img src="{{ field.image.url }}" alt="Image">
                                {% elif field.post_type == 'video' %}
                                    <video controls>
                                        <source src="{{ field.video.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% elif field.post_type == 'audio' %}
                                    <audio controls>
                                        <source src="{{ field.audio.url }}" type="audio/mp3">
                                        Your browser does not support the audio element.
                                    </audio>
                                {% elif field.post_type == 'location' %}
                                    <p>{{ field.location }}</p>
                                    <!-- Leaflet map container -->
                                    <div id="map-{{ post.id }}-{{ forloop.counter }}" class="map" style="height: 200px; width: 200px; margin-top: 10px;" data-location="{{ field.location }}"></div>
                                {% elif field.post_type == 'datetime' %}
                                    <p>{{ field.date }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Like button and count -->
                        <button type="button" class="btn btn-primary like-btn" data-post-id="{{ post.id }}">Like</button>
                        <p style="display: inline; margin-left: 5px;" class="like-count">{{ post.likes.count }}</p>
                        <!-- Dislike button and count -->
                        <button type="button" class="btn btn-primary dislike-btn" data-post-id="{{ post.id }}">Dislike</button>
                        <p style="display: inline; margin-left: 5px;" class="dislike-count">{{ post.dislikes.count }}</p>

                        <!-- Comments section -->
                        <h6>Comments</h6>
                        <ul>
                            {% for comment in post.comments.all %}
                                <li>{{ comment.author.username }}: {{ comment.text }}</li>
                            {% endfor %}
                        </ul>
                        <!-- Form to submit new comments -->
                        <form>
                            <!-- Add text input for comment -->
                            <input type="text" id="comment-text-{{ post.id }}" placeholder="Enter your comment">
                            <!-- Add comment button with post ID data attribute -->
                            <button type="button" class="btn btn-primary submit-comment-btn" data-post-id="{{ post.id }}">Add Comment</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}

            <p>No posts available</p>
        {% endif %}
    </div>
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'community_detail.js' %}"></script>
{% endblock %}
