{% extends "authenticate/base.html" %}

{% block body_content %}
    <!-- Create Post Form -->
    <div class="container">
        <h1>Create Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
        <h2 style="margin-top: 20px;">Use Custom Templates</h2>
        <ul>
            {% for template in post_templates %}
                <li>
                    <a href="{% url 'create_custom_post' community_id=community_id template_id=template.id %}">
                        Go to {{ template.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
