<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_name">Name:</label><br>
        {{ name }}
        <br><br>
        <label for="id_bio">Bio:</label><br>
        {{ bio }}
        <br><br>
        <label for="id_birth_date">Birth Date:</label><br>
        {{ birth_date }}
        <br><br>
        <!-- You can uncomment the following fields if needed -->
        <label for="id_location">Location:</label><br>
        <input type="text" id="id_location" name="location" placeholder="Enter location coordinates (e.g., latitude, longitude)" value="{{ location }}">

        <br><br> 
        {% csrf_token %}
        <img src="{% static 'profile.picture'}" alt="Profile Picture" class="rounded-circle img-thumbnail" width="200" height="200" border="1">
        <br><br>
        <label for="id_followers">Followers:</label><br>
        {{ followers }}
        <br><br>
        <a href="{% url 'edit_profile' id=profile.id%}">
            <button type="submit">Todo:Edit Profile</button>
        </a>
        
    </form>
</body>
</html>
